.listTable {
  /* height: 450px; */
  margin-top: 50px;
  border: 1px solid #ccc;
}

.listTable__header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #ccc;
}

/* .listTable__name {
  width: 150px;
} */

.listTable__listValues {
  text-align: center;
  margin-top: 40px;
}

.listTable__listValues {
  margin-top: -0px;
  justify-content: space-around;
  align-items: left;
}

.listTable__value {
  display: flex;
  padding: 9px;
  justify-content: space-around;
  cursor: pointer;
}

.listTable__value:hover {
  background-color: rgb(243, 242, 242);
}

.listTable__value > p {
  align-items: center;
  width: 160px;
}

.listTable__name {
  font-size: 16px;
  font-weight: bold;
}
