.mainPage {
  width: 70%;
  margin: 50px auto;
  /* border: 1px solid #000; */
}

.mainPage__dropdown {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.mainPage__dropdownFirst {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mainPage__dropdownLast {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mainPage__numbers {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.mainPage__numbers > p {
  padding: 10px;
}

.mainPage__table {
  height: 650px;
  margin-top: 50px;
}
