.mainPage {
  width: 60%;
  margin: 50px auto;
  /* border: 1px solid #000; */
}

.mainPage__dropdown {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.mainPage__dropdownFirst {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mainPage__dropdownLast {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mainPage__numbers {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
